/* **** Major Fixes start here ****/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* height: 5500px; */
    font-family: 'Lato', sans-serif;
}
img{
    width: 100%;
    height: 100%;
}

/* **** Major Fixes ends here *****/
.btn {
    padding: 15px 20px;
}
.btn-red {
    background: var(--main-color);
    color: var(--white-color);
    border: 2px solid var(--main-color);
}
.btn-red:hover{
    background: var(--white-color);
    color: var(--main-color);
}
.btn-light{
    background: var(--white-color);
    border: 2px solid var(--main-color);

}
.btn-light:hover{
    color: var(--main-color);
}
/* **** Header section start here *****/
/* **** Major Fixes ends here *****/

/* **** Header section start here *****/
header {
    /* border: 3px solid blue; */
    position: fixed;
    width: 100%;
    background: var(--white-color);
}
.nav-desktop{
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    justify-content: flex-end;
}
.desktop-logo{
    left: 60px;
    width: 100px;
    height: 100px;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 60px;
    position: absolute;
}
.desktop-linkcontainer{
    display: flex;
    align-items: center;
    /* border: 3px solid greenyellow; */
   
}
.desktop-linkcontainer ul{
    list-style: none;
    display: flex;
    /* border: 3px solid black; */
}
.desktop-linkcontainer ul li {
    padding: 15px 20px;
    border: 2px solid transparent;
    color: var(--main-color);
}

.desktop-linkcontainer li:hover {
    border: 2px solid var(--main-color);
}

.nav-mobile{
    /* border: 3px solid red; */
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--main-color);

}
.nav-brand{
    /* border: 3px solid green; */
   display: flex;
   align-items: center;
   font-size: 25px;
   color: var(--white-color);

}
.hamburger-container{
    display: flex;
    align-items: center;
    height: 30px;
    width: 30px;

}

.nav-brand span {
    font-weight: bolder;
    margin-left: 10px;
}

.mobile-logo{
    border: 2px solid var(--white-color);
}

/* ********** */
.menu {
    width: 100%;
    background: var(--white-color);
    height: 3px;
    position: relative;

}

.menu::before{
    content: '';
    background: tomato;
    width: 100%;
    height: 3px;
    position: absolute;

    transform: translateY(-10px);

}

.menu::after{
    content: '';
    background: black;
    width: 100%;
    height: 3px;
    position: absolute;

    transform: translateY(10px);

}

.showburger .menu {
    background: transparent;
}
.showburger .menu::before{
    transform: rotate(45deg);

}

.showburger .menu::after{
    transform: rotate(-45deg);

}
/* ********** */

/* **** Header banner section start here *****/
.header-banner-section{
    /* border: 2px solid tomato; */
    /* height: 450px; */
    background: url("./img/banner.jpg");
    background-size: cover;
    
}
.banner-content-section{
    padding-top: 150px;
    padding-bottom: 30px;
    height: 100%;
    width: 90%;
    /* border: 2px solid orange; */
    margin: 0% auto;

}
.banner-text-container{
/* border: 3px solid blue; */
width: 50%;

}
.banner-text-container h1 {
    font-size: 45px;
    color: var(--main-color-dark);
    line-height: 1.1;

}
.banner-text-container p {
    margin: 20px 0;
    line-height: 1.6;

}

.button-banner-2{
    margin: 0 0 0 10px;
}
.banner-icon{
    margin: 0 0 0 10px;
}
/* **** Header banner section ends here *****/


/* **** Header counter section start here ****/
.header-counter-section {
    background: var(--main-color);
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
}

.header-counter {
    /* border: 3px solid var(--white-color); */
    /* height: 100px; */
    width: 180px;
    text-align: center;
    color: var(--white-color);
}

.header-counter p {
    /* text-transform: capitalize; */
    margin-top: 7px;
}
/* **** Header counter section ends here *****/

/* **** About us start here ****/
.about-us {
    /* border: 3px solid black; */
    /* height: 400px; */
}
.about-us-container{
    /* border: 3px solid black; */
    padding: 30px 0;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.about-us-cards-img{
    /* border: 3px solid blue; */
    width: 48%;
    height: 320px;
    border-radius: 25px;
    overflow: hidden;
}
.about-us-cards-img img{
    object-fit: cover;
}
.about-us-cards-text {
    /* border: 3px solid purple; */
    width: 48%;
}
.about-us-cards-text h2{
    /* border-right: 5px solid var(--main-color); */
    border-left: 5px solid var(--main-color);
    color: var(--main-color);
    padding: 15px;
    background: var( --light-text-color);
    font-size: 28px;
}
.about-us-cards-text p{
    margin: 20px 0;
}
.about-us-cards-text ul{
    list-style: none;
    margin:15px 0; 
}
.text-icon{
    color: var(--main-color);
    margin: 0 10px 0 0;
}

/* **** About us ends here *****/


/* **** waves button start here ****/

.wave-button-container{
    background:var( --gray-gradient), url(./img/about3.jpg);
    background-size: cover;
    background-position: bottom right;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
}
.wave-button-container h2{
    color: var(--main-color);
}
.wave-button-container p{
    margin: 20px 0;
}
.btn-waves{
    margin: 30px;
    background: var(--main-color);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--white-color);
    border-radius: 50%;
    color: var(--white-color);
    font-size: 30px;

    animation: ripple 2s infinite;

    /* animation: name;
    animation-duration: ;
    animation-iteration-count: ; */

}

/* **** waves button ends here *****/

/* <!-- Explore food section starts here  --> */
.explore-food-section{
    /* border: 3px solid tomato; */
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 40px solid var(--main-color);
}

.explore-food-section h2 {
    color: var(--main-color);
}
.explore-food-section p{
    margin: 20px 0;
}

.food-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 3px solid blue; */
    /* height: 400px; */
}
.food-card-item{
    /* border: 3px solid red; */
    width: 320px;
}
.food-img-container{
    /* border: 3px solid black; */
    height: 250px;
    width: 100%;
    border-top-right-radius: 30px ;
    border-top-left-radius: 30px;
    overflow: hidden;
}
.food-img-container img{
    object-fit: cover;
}
.food-text-container{
    width: 100%;

}
.food-text-container{
    text-align: left;
    margin: 8px 0;
}

.food-text-container h5{
    font-size: 18px;
    margin: 0 0 8px 0;
    border-bottom: 0.5px solid var(--light-text-color);
    padding-bottom: 10px;
}

.food-text-container h5 span{
    color: var(--text-color);
    text-decoration: line-through;
}
/* <!-- Explore food section ends here  --> */

/* <!-- faq section starts here  --> */
.faq-section {
    padding: 30px 0;
    /* border: 3px solid tomato; */
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.faq-section h2{
    margin-bottom: 20px;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-between;
}

.faq-items {
    width: 45%;
    margin: 10px 0;
}

.faq-item h3 {
    margin-bottom: 16px;
    color: var(--main-color-dark);

}
.faq-icons{
    color: var(--main-color);
    margin-right: 10px;
}
/* <!-- faq section ends here  --> */

/* <!-- Parallax section starts here  --> */
.parallax{
    height: 250px;
    width: 90%;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--white-color);
    background: var(--gradient), url(./img/cta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* <!-- Parallax section ends here  --> */


/* <!-- cta section starts here  --> */
.cta-section{
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
.cta-section h2{
color: var(--main-color-dark);
font-size: 30px;
font-weight: bolder;
}

.cta-section p {
    margin: 15px 0;

}
.cta-form {
display: flex;
justify-content: center;
}

.cta-form button {
    padding: 15px 20px;
    background: var(--main-color);
    color: var(--white-color);
    border: 2px solid var(--main-color);
}

.cta-form input {
    padding: 15px 10px;
    width: 250px;
    outline: none;
    border: 2px solid var(--main-color);
    transition: all 0.5s ease;

}
.cta-form input:hover{
    width: 300px;
}


/* <!-- cta section ends here  --> */


/* <!-- Footer Section section starts here  --> */

footer {
    background: var(--main-color);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 20px 0;
    color: var(--white-color);
}

.footer-icon-container{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;

}
footer button {
    color: var(--white-color);
    padding: 15px 20px;
    background: var(--main-color);
    border: 2px solid var(--white-color);
}
footer button:hover {
    background: var(--main-color-dark);
}
.footer-icons{
    border: 2px solid var(--white-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
}

/* <!-- Footer Section section ends here  --> */




