@media screen and (max-width:1100px) {
   
   /* **** Header section starts here *****/
    .nav-desktop {
        display: none;
    }
    .nav-mobile{
        display: flex;
    }
    /* **** Header section ends here *****/
    
    /* **** Header banner section start here *****/
    .banner-content-section{
        padding-top: 95px;

    }
    .banner-text-container{
        width: 100%;
    }

    /* **** Header banner section ends here *****/

    /* **** About us section section start here *****/
    .about-us-container {
        justify-content: center;
    }
    .about-us-cards-img{
        min-width: 350px;
        height: 285px;
    }
    .about-us-cards-text {
        width: 90%;
        margin: 20px 0;
    }
    /* **** About us section section ends here *****/

    /* **** Explore food section ends here *****/

    .food-card-item {
        margin: 20px 0;
    }
    /* **** Explore food section ends here *****/

/* <!-- faq section starts here  --> */
.faq-items {
    min-width: 100%;}

/* <!-- faq section ends here  --> */

    /* <!-- parallax section starts here  --> */

   .parallax{
    flex-direction:column;
    padding: 0 25px;
    text-align: center;
   } 
/* <!-- parallax section ends here  --> */

/* <!-- Footer Section section starts here  --> */

footer {
    flex-direction: column;

}

footer {
    text-align: center;
}
.footer-icon-container{
    margin: 15px 0;
}
/* <!-- Footer Section section ends here  --> */


}
